.father{
  width: 100vw;  
  background-image: url("https://img.freepik.com/free-photo/side-view-sushi-set-with-soy-sauce-chopsticks-wooden-serving-board_176474-3234.jpg?w=2000");
  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  text-align: center 
}
.son{
    
    background-color: rgb(0, 0, 0,0.7);
    width:  25vw;
    height: 100vh;
    margin: top -24vh !important; ;

    
    

}
.aaa{
    text-align: center;
    color: aliceblue;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
}
button{
    font-size: 90%;
    margin-left: 10%;
    

}
button:hover{
    background-color: rgb(38, 234, 68) !important;
}
.ccc{
    margin-left: 30em;
    width: 58vw;

    text-decoration: none;
    color: aqua;
    text-align: center 
    font-family:'Times New Roman', Times, serif;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content:space-between;
    justify-content:space-around;
    
    
    


}
body{
    background-color: aquamarine;
    margin:0;
    background-image: url("https://img.lovepik.com/photo/50119/0533.jpg_wh860.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.folders
{
 font-size: 200%;  
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 text-decoration: none;
 
 
 
}
.qwe{
    
    font-family: Arial, Helvetica, sans-serif;
    height: 95vh;
    width: 100vw;
    margin-top: -91vh;
    font-size: 107%;
    text-align: center;
    text-decoration: none;
   
}
.Men{
    width: 10%;
  
    height: 8vh;

}
.Men:hover{
    width: 30%;
    height:20vh ;

    
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-end;
    flex-wrap: nowrap;
    align-items: flex-end;
    margin-right: 12%;
    margin-top: -13vh;
    
}
.ert{
    text-align: center;
    font-size:70%;
    color: darkorange;
}
a:active{
    color: brown;
}
a:visited{
    color: brown;
}
.vbn{
    position: absolute;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    text-align: left ;
    margin-top: -34vh;
    
    font-size: 2vw;
    
    
      
}
.father2{
    width: 100vw;  
    background-image: url("https://images.unsplash.com/photo-1583623025817-d180a2221d0a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHN1c2hpfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    height: 100vh;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    text-align: center 
  }
.ccc{
    position: absolute;
    margin-left: 30vw;
}
.drinks{
    width: 8vw;
    height: 12vh;
    margin-top: -22vh;
}
@media only screen and (max-width: 768px) and (max-width: 400px){
    .Men {
        width: 27%;
        height: 8vh;
        margin-right: -32px;

    }
    .vbn{

        font-size: 2vw;
    }
    option{
        width: 30%;
        background-size:50%; 
    
      }
      .ert{
        font-size: small;
        background-size: contain;
      }
      #fff{

        font-size: 3vw;
      }
      .father{

        height: 50vh;
      }
      .son{
        height: 50vh;
        font-size: 67%;
      }
      .btn{

        font-size: 33%;


      }
      body{

        background-image: url("https://img.freepik.com/premium-photo/flying-pieces-sushi-with-wooden-chopsticks-sauce_120962-1511.jpg?w=2000");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
      }
      .drinks{

        width: 23vw;
      }

   


}
